# Visual Studio
.cache/
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# JebBrains
.idea/

# Binaries
cmake-build-debug/
cmake-build-release/
bin/
int/
out/
build/
**.spv

# Git
.git/

# Nix
.direnv